[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
h5py = "*"
parsimonious = "*"
faker = "*"
ujson = "*"
pyppeteer = "*"
pyzmq = "*"
imageio = "*"

[requires]
python_version = "3.7"
