[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-pycharm = "*"

[packages]
h5py = "*"
parsimonious = "*"
faker = "*"
ujson = "*"
pyppeteer = "*"
pyzmq = "*"
imageio = "*"
requests = "*"
tqdm = "*"
ipykernel = "*"
matplotlib = "*"
pyrsistent = "*"
opencv-python = "*"
tensorflow = "*"
jupyterlab = "*"
tensorboardx = "*"
tensorboard = "*"
ipywidgets = "*"

[requires]
python_version = "3.7"
