.grey-background {
    background-color: #cdcdcd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    padding: 10px;
    margin: 0px -5px;
}

.container-fluid {
    margin-top: 10px;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.row:not(:first-child) {
    margin-top: 10px;
}

nav {
    margin-left: -5px !important;
}

nav .btn:not(:first-child) {
    margin-left: 10px;
}